.container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px 200px 200px 200px;
    grid-template-areas: 
      "header header sidebar1 sidebar1"
      "sidebar main main main"
      "sidebar footer footer footer";

      background-image: url(/images/cac62430292632111b3640fd5c3eb0d5.jpeg);
      background-size: 200px 200px 200px 200px;
      max-width: 800px; 
      max-height: 600px;
      background-position: center;
      position: relative;
      
  }

.title {
    grid-area: header;
    background-color: crimson;
    background-image: url(/images/152472-bigthumbnail.webp);
    background-position-x: center;
    background-position-y: 90%;
    background-size: cover;
    max-width: auto;
    max-height: 100px;
    position: relative;
  }
  h1 {
    color: rgb(231, 228, 14);
    font-family: monospace;
    font-size: 50px;
    
}


  .location{
      grid-area: sidebar1;
      /* background-color: rgb(238, 232, 232); */
      background-image: url(/images/152472-bigthumbnail.webp);
      max-height: 100px;
      justify-self: stretch
  }

  #day {
    font-size: 30px;
    font-family: fantasy;
    font-weight: bold;
    /* box-shadow: 5px 5px 10px rgb(255, 251, 251); */
    /* justify-items: center;
    align-self: center; */
  
}

  .rect {
    animation-name: rainbow;
    animation-delay: 5s;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

@keyframes rainbow {
    0% {
        color: blue;
    }
    50% {
        color: green;
    }
    100% {
        color: yellow;
    }
} 


  .tamagotchi {
    grid-area: main;
    background-color: darkcyan;
    /* grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: auto;
    grid-row-end: auto; */
    justify-self: stretch;
    border-style: double;
    
  }

  .sitting {
    max-width: 150px;
    /* transform: rotate3d(1,2.0,3.0,10deg); */
    background-image: url('/images/chao.png');

}



#hunger {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: ivory;
    font-weight: bolder;
    font-size: 20px;

}
#energy {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: ivory;
    font-weight: bolder;
    font-size: 20px;

}
#happiness {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: ivory;
    font-weight: bolder;
    font-size: 20px;

}


  .stats{
    grid-area: sidebar;
    background-color: darkgoldenrod;
    /* height: 40%; /* Full-height: remove this if you want "auto" height */
    width: 200px; 
    /* position: fixed; Fixed Sidebar (stay in place on scroll) */ 
    /* z-index: 5; /* Stay on top */
    /* top: 1; Stay at the top */ 
    left: 20;
    justify-self: center;
    align-self: stretch;

    background-color: rgba(255, 252, 252, 0.5);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
      border-radius: 10px;
      padding: 1;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  
}

#name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(253, 253, 72);
    font-size: 35px;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgb(18, 196, 142);
    border-radius: 10px;

}

#age {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 89, 131);
    font-size: 30px;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgb(18, 196, 142);
    border-radius: 10px;
}


#bar {
     
    height: 5px;
    width: 85px;
    background: rgb(19, 3, 233);
    /* margin: 50px auto; */
    border-radius: 0px;
    border-style: double;
    border-color: rgb(0, 0, 0);
}

#e-bar {
     
    height: 5px;
    width: 60px;
    background: rgb(75, 160, 82);
    /* margin: 50px auto; */
    border-radius: 0px;
    border-style: double;
    border-color: rgb(0, 0, 0);
}
#h-bar {
     
    height: 5px;
    width: 120px;
    background: rgb(233, 3, 3);
    /* margin: 50px auto; */
    border-radius: 0px;
    border-style: double;
    border-color: rgb(0, 0, 0);
}

  .control {
    grid-area: footer;
    background-color: hotpink;
    justify-self: center;
    align-self: end;
  }
  
 