.container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px 200px 200px 200px;
    grid-template-areas: 
      "header header sidebar1 sidebar1"
      "sidebar main main sidebar3"
      "sidebar footer footer sidebar3";

      background-image: url(/images/cac62430292632111b3640fd5c3eb0d5.jpeg);
      background-size: 200px 200px 200px 200px;
      max-width: 800px; 
      max-height: 500px;
      background-position: center;
    

      
  }

.title {
    grid-area: header;
    background-color: crimson;
    background-image: url(/images/152472-bigthumbnail.webp);
    background-position-x: center;
    background-position-y: 90%;
    background-size: cover;
    max-width: auto;
    max-height: 100px;
    opacity: .8;
    border-radius: 1px;
    padding: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  }
  h1 {
    color: rgb(255, 251, 0);
    font-family: monospace;
    font-size: 50px;
    
}
#gameover {
    color: crimson;
    font-size: 28px;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.9);
}

#greet {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: fantasy;
    background-color: rgba(52, 148, 172, 0.5);
}


  .location{
      grid-area: sidebar1;
      /* background-color: rgb(238, 232, 232); */
      background-image: url(/images/152472-bigthumbnail.webp);
      opacity: .8;
      max-height: 100px;
      justify-self: stretch;
      border-radius: 0px;
      padding: 1;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  }

  #day {
    font-size: 30px;
    font-family: fantasy;
    font-weight: bold;
    /* box-shadow: 5px 5px 10px rgb(255, 251, 251); */
    /* justify-items: center;
    align-self: center; */
  
}

  .rect {
    animation-name: rainbow;
    animation-delay: 10s;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
}

@keyframes rainbow {
    0% {
        color: rgb(208, 255, 0);
    }
    10% {
        color: tomato;
    }
    25%{
        color: teal;
    }
    50% {
        color: green;
    }
    75% {
        color: rgb(233, 3, 3);
    }
    100% {
        color: yellow;
    }
} 


  .tamagotchi {
    grid-area: main;
    /* background-color: darkcyan; */
    /* grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: auto;
    grid-row-end: auto; */
    justify-self: stretch;
    /* border-style: double; */
    
  }

  .gif {
    max-width: 250px;
    padding: 70px;
}

.chaos {
    max-width: 150px;
    padding: 10px;
}



#hunger {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: ivory;
    font-weight: bolder;
    font-size: 20px;

}
#sleep {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: ivory;
    font-weight: bolder;
    font-size: 20px;

}
#happiness {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: ivory;
    font-weight: bolder;
    font-size: 20px;

}


  .stats{
    grid-area: sidebar;
    background-color: darkgoldenrod;
    /* height: 40%; /* Full-height: remove this if you want "auto" height */
    width: 200px; 
    /* position: fixed; Fixed Sidebar (stay in place on scroll) */ 
    /* z-index: 5; /* Stay on top */
    /* top: 1; Stay at the top */ 
    left: 20;
    justify-self: stretch;
    align-self: stretch;

    background-color: rgba(255, 252, 252, 0.5);
    overflow-y: hidden;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
      border-radius: 10px;
      padding: 1;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  
}

#name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(253, 253, 72);
    font-size: 35px;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgb(18, 196, 142);
    border-radius: 10px;

}

#age {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 89, 131);
    font-size: 30px;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgb(18, 196, 142);
    border-radius: 10px;
}


#bar {
     
    height: 5px;
    width: 85px;
    background: rgb(19, 3, 233);
    /* margin: 50px auto; */
    border-radius: 0px;
    border-style: double;
    border-color: rgb(0, 0, 0);
}

#e-bar {
     
    height: 5px;
    width: 60px;
    background: rgb(75, 160, 82);
    /* margin: 50px auto; */
    border-radius: 0px;
    border-style: double;
    border-color: rgb(0, 0, 0);
}
#h-bar {
     
    height: 5px;
    width: 120px;
    background: rgb(233, 3, 3);
    /* margin: 50px auto; */
    border-radius: 0px;
    border-style: double;
    border-color: rgb(0, 0, 0);
}

.control:hover {
    opacity: 1;
}  
 .control {
    grid-area: footer;
  
    justify-self: left;
    align-self: end;
    background-image: url('/images/152472-bigthumbnail.webp');
    background-color: rgba(253, 252, 255, 0.5);
    overflow-y: hidden;
    overflow-x: hidden; /* Disable horizontal scroll */
    opacity: .8;
    padding-left: 90px;
    padding-right: 86px;
      border-radius: 5px;
      /* padding: 1; */
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  
  }


  #feed {
      background-color: rgb(25, 41, 185, 0.5);
      font-size: 50px;
      /* background-image: url(/images/Nintendo-Game-Boy-Advance-White.jpeg); */
      background-size: cover;
      border-radius: 50px;
      border-style: ridge;
      border-color: rgb(10, 4, 41, 0.5);
      border-width: thick;
      justify-content: center;
      align-items: center;

  }
  #feed:hover {
    background-color: rgba(217, 255, 3, 0.5);
   
}
  #rest{
      background-color: rgb(46, 145, 0, 0.5);
      font-size: 50px;
      /* background-image: url(/images/Nintendo-Game-Boy-Advance-White.jpeg); */
      background-size: cover;
      border-radius: 50px;
      border-style: ridge;
      border-color: rgb(10, 4, 41, 0.5);
      border-width: thick;
      justify-content: center;
      align-items: center;

  }

  #rest:hover {
    background-color: rgba(170, 16, 184, 0.5);
  }
  #play {
      background-color: rgb(194, 17, 17, 0.7);
      font-size: 50px;
      /* background-image: url(/images/Nintendo-Game-Boy-Advance-White.jpeg); */
      background-size: cover;
      border-radius: 50px;
      border-style: ridge;
      border-color: rgb(10, 4, 41, 0.5);
      border-width: thick;
      justify-content: center;
      align-items: center;

  }

  #play:hover{
    background-color: rgba(17, 194, 185, 0.7);
  }
  
 .sidebar3{
    grid-area: sidebar3;
    /* height: 40px;
    width: 70%;
    background: black;
    margin: 50px auto;
    border-radius: 5px; */
    background-color: darkgoldenrod;
    /* height: 40%; /* Full-height: remove this if you want "auto" height */
    width: 200px; 
    /* position: fixed; Fixed Sidebar (stay in place on scroll) */ 
    /* z-index: 5; /* Stay on top */
    /* top: 1; Stay at the top */ 
    left: 20;
    justify-self: stretch;
    align-self: stretch;

    background-color: rgba(255, 252, 252, 0.5);
    overflow-y: hidden;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
      border-radius: 10px;
      padding: 1;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  }

  footer {
      text-align: center;
  }
